*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

.idea/
.vscode/

apps/server/target/

apps/miniapp/node_modules/
apps/miniapp/miniprogram_npm/
apps/miniapp/dist/
apps/miniapp/project.private.config.json
apps/miniapp/project.config.private.json
